<header>
  <div class="logo_img">
  <a href="/" title="Page d'accueil"><img src="/assets/logo/pokemon_logo.png" alt="Logo Pokemon" width="200"/></a>
</div>
<div class="menuComputer">
  <div class="links">
    <a href="/pokemons" title="Page Liste des Pokémons" class="textLink">Pokémons</a>
    <a href="/qui-sommes-nous" title="Page Qui sommes-nous ?" class="textLink">À propos</a>
</div>
<div class="links connectionlinks">
    <a href="/inscription" title="Page S'inscrire" class="signInLink">S'inscrire</a>
    <a href="/connexion" title="Page Se connecter" class="connectLink">Se connecter</a>
</div>
</div>

<!-- <div class="menuPhone">
  <i @click="showMenu = true" class="fa-solid fa-bars"></i>
  <div v-if="showMenu" class="contentMenu">
    <i @click="showMenu = false" class="fa-solid fa-xmark"></i>
    <div class="links">
        <a href="/pokemons" title="Page Liste des Pokémons" class="textLink">Pokémons</a>
        <a href="/qui-sommes-nous" title="Page Qui sommes-nous ?" class="textLink">À propos</a>
    </div>
    <div class="links connectionlinks">
        <a href="/inscription" title="Page S'inscrire" class="signInLink">S'inscrire</a>
        <a href="/connexion" title="Page Se connecter" class="connectLink">Se connecter</a>
    </div>
  </div>
</div> -->

</header>
