<div class="about container">
    <h1>À propos du Kitten's Projets </h1>
    <p>PokedexApp est comme son nom l'indique, un site qui te permet de retrouver tes Pokémons préférés grâce à sa liste de plus de 800 Pokémons.</p>
    <h2>Comment créer son compte</h2>
    <ul>
        <li>Cliquer sur le bouton S'inscrire</li>
        <li>Entrer un identifiant et un mot de passe </li>
        <li>Vous pouvez désormais vous connecter</li>
    </ul>
    <h2>Ajouter des Pokémons</h2>
    <p>Tu peux créer ta propre équipe de 6 Pokémons, pour cela, une fois connecter et sur la page "Mon Compte", cliquer sur "Ajouter des Pokémons". Tu arriveras alors sur la page listing. Tu n'as plus qu'à faire ton choix et cliquer sur le "+" en haut à grauche de la carte.</p>
    <h2>Editer ton équipe</h2>
    <p>Un de tes Pokémons ne te convient plus ?</p>
    <p>Tu veux refaire ton équipe ?</p>
    <p>Rien de plus simple !</p>
    <br/>
    <ul>
        <li>Rends toi sur la page "Mon compte"</li>
        <li>Cliques sur l'icône "Edition", présente sur les différentes cartes de tes Pokémons</li>
        <li>Te voila sur la page listing, clique de nouveau sur l'icône "Edition" du nouveau Pokémon qui te fait de l'oeil</li>
        <li>Le tour est joué !</li>
    </ul>
</div>