<div class="account container">
    <div class="wrapper-titre">
      <h1>Mon équipe</h1>
      <!-- <div class="btn btn_rose">Créer équipe</div> -->
    </div>
    <div class="container-card">
      <div class="card" *ngFor="let pokemon of equipe">
         <h2>{{pokemon.name}}</h2>
         <img src="{{pokemonService.getImg(pokemon?.idPokemon)}}" />
      </div>
      <div *ngIf="equipe.length < 6">
        <a href="/pokemons" title="Page Pokemons"><i class="fa-solid fa-circle-plus"></i> Ajouter des pokemons</a>
      </div>
    </div>
  </div>