<div class="account container">
    <div class="title">
      <h1>Bienvenue {{ userName }}</h1>
    </div>
    <div class="wrapper-titre">
      <h2>Mon équipe</h2>
      <!-- <div class="btn btn_rose">Créer équipe</div> -->
    </div>
    <div class="container-card">
      <div class="card" *ngFor="let pokemon of equipe">
         <h2>{{pokemon.name}}</h2>
         <a (click)="editPokemon(pokemon.id)"><i class="fa-solid fa-pen-to-square"></i></a>
         <img src="{{pokemonService.getImg(pokemon?.idPokemon)}}"/>
      </div>
    </div>
    <div class="addButton" *ngIf="equipe.length < 6">
      <a href="/pokemons" title="Page Pokemons"><i class="fa-solid fa-circle-plus"></i> Ajouter des pokemons</a>
    </div>
  </div>
