<div class="Login container">
    <h1>Se connecter</h1>
      <form [formGroup]="loginForm">
        <div class="_input">
          <label for="login">Indentifiant</label>
          <input formControlName="username" type="text">
        </div>
        <div class="_input">
          <label for="password">Mot de passe</label>
          <input formControlName="password" type="password">
        </div>
        <button type="submit" (click)="login()" class="btn btn_rose">Connexion</button>
      </form>
  </div>