<div class="pokemonsPage container">
    <!--<div class="filterContainer">
        <div class="order">
            <div><p>Trier </p> <i class="fas fa-chevron-down"></i></div>
            <div>
                <p><i class="fa-solid fa-arrow-down-a-z"></i></p>
                <p><i class="fa-solid fa-arrow-up-a-z"></i></p>
                <p><i class="fa-solid fa-arrow-down-1-9"></i></p>
                <p><i class="fa-solid fa-arrow-up-1-9"></i></p>
            </div>
        </div>
        <div class="filterTypes">
            <div></div>
        </div>

    </div>
     <div class="filters">

        filtres :
        par type

        ordre :
        alphabetique
        id
    </div> -->

    <div class="ListingPokemons">
      <div class="item" *ngFor="let pokemon of pokemons">
        <div class="types">
          <div *ngIf="pokemon?.type0" class="roundType roundType0" style="{{pokemonService.colorType(pokemon?.type0)}}"></div>
          <div *ngIf="pokemon?.type1" class="roundType roundType1" style="{{pokemonService.colorType(pokemon?.type1)}}"></div>
        </div>
        <div class="imgContain">
          <img src="{{pokemonService.getImg(pokemon?.id)}}" />
        </div>
        <div class="content">
          <p class="name">#{{ pokemonService.changeID(pokemon?.id) }} {{ pokemon?.name }}</p>
          <a (click)="paramsPokemon(pokemon.id)" title="Page détails : {{pokemon?.name}}" class="btn btn_orange">En savoir plus</a>
        </div>
      </div>
    </div>


    <img src="/img/wallpapers/our-waves-2.png" alt="Vagues" class="waves" />
</div>
